In [220]:
import pandas as pd
df = pd.read_csv('input.txt',header=None)

In [221]:
df = df.append([df.max()[0]+3,0])

In [222]:
df.sort_values(by=0,inplace=True)

In [223]:
df['deltas'] = df - df.shift(1)

In [224]:
df['deltas'].value_counts()[1.0] * df['deltas'].value_counts()[3.0]

2590

In [225]:
df.head(40)

     0  deltas
1    0     NaN
58   1     1.0
68   2     1.0
13   5     3.0
18   8     3.0
57   9     1.0
4   10     1.0
88  11     1.0
98  14     3.0
77  15     1.0
87  16     1.0
20  17     1.0
76  18     1.0
47  21     3.0
9   22     1.0
40  23     1.0
10  24     1.0
69  25     1.0
72  28     3.0
23  29     1.0
37  30     1.0
36  33     3.0
60  36     3.0
2   37     1.0
34  38     1.0
71  39     1.0
84  40     1.0
65  43     3.0
52  44     1.0
91  45     1.0
12  46     1.0
32  49     3.0
90  52     3.0
35  53     1.0
96  54     1.0
27  55     1.0
49  56     1.0
61  59     3.0
19  60     1.0
15  61     1.0

In [226]:
df[(df['deltas'] == 1.0) & (df['deltas'] == df['deltas'].shift(-1))]

       0  deltas
58     1     1.0
57     9     1.0
4     10     1.0
77    15     1.0
87    16     1.0
20    17     1.0
9     22     1.0
40    23     1.0
10    24     1.0
23    29     1.0
2     37     1.0
34    38     1.0
71    39     1.0
52    44     1.0
91    45     1.0
35    53     1.0
96    54     1.0
27    55     1.0
19    60     1.0
15    61     1.0
6     62     1.0
86    77     1.0
1     78     1.0
30    79     1.0
70    84     1.0
54    85     1.0
80    86     1.0
103   91     1.0
11    92     1.0
21    93     1.0
31   101     1.0
102  112     1.0
26   113     1.0
78   114     1.0
85   122     1.0
107  123     1.0
41   132     1.0
33   133     1.0
29   134     1.0
92   139     1.0
62   140     1.0
28   141     1.0
46   146     1.0
43   147     1.0
25   148     1.0
3    153     1.0
101  154     1.0
39   159     1.0
89   170     1.0
73   171     1.0

In [227]:
#can't remove any of the 3 deltas
#can't remove any of the 1 deltas with an subsequent 3
#let's count for adjacent double adjacent 1 deltas this is a 2 multiplier as there are 2 combinations (Null and (1))
count_2 = df[(df['deltas'] == 1.0) &
           (df['deltas'] == df['deltas'].shift(-1)) &
           (df['deltas'] != df['deltas'].shift(-2)) &
           (df['deltas'].shift(1) != 1.0)].count()[0]
count_2

4

In [228]:
#let's count for adjacent triple adjacent 1 deltas this is a 4 multiplier as there are 4 (Null, (1), (2), (1,2))
#Valid options are Null, (1), (2), and (1,2)
count_3 = df[(df['deltas'] == 1.0) &
           (df['deltas'] == df['deltas'].shift(-1)) &
           (df['deltas'] == df['deltas'].shift(-2)) &
           (df['deltas'] != df['deltas'].shift(-3)) &
           (df['deltas'].shift(1) != 1.0)].count()[0]
count_3

5

In [229]:
#let's count for adjacent quadruple adjacent 1 deltas, this is where it gets interesting
#you can only take out 2 of these at a time, so Null, (1), (2), (3), (1,2), (2,3), and (1,3) are valid options
#So 7 total
# 1
# 1
# 1
# 1
# 3
count_4 = df[(df['deltas'] == 1.0) & \
           (df['deltas'] == df['deltas'].shift(-1)) &
           (df['deltas'] == df['deltas'].shift(-2)) &
           (df['deltas'] == df['deltas'].shift(-3)) &
           (df['deltas'] != df['deltas'].shift(-4)) &
           (df['deltas'].shift(1) != 1.0)].count()[0]
count_4

12

In [230]:
#check for 5 or greater
df[(df['deltas'] == 1.0) & \
           (df['deltas'] == df['deltas'].shift(-1)) &
           (df['deltas'] == df['deltas'].shift(-2)) &
           (df['deltas'] == df['deltas'].shift(-3)) &
           (df['deltas'] == df['deltas'].shift(-4)) ].count()[0]

0

In [231]:
count_2+count_3+count_4

21

In [232]:
import math
math.pow(2,count_2) * math.pow(4,count_3) * math.pow(7,count_4)

226775649501184.0

In [ ]:
0, 1
=2
0, 1
0, 1
=4
0, 1
0, 1
0, 1
=
8
math.pow(2,count_2)


0, 1, 2, (1,2)
=4
0, 1, 2, (1,2)
0, 1, 2, (1,2)
=16
math.pow(4,count_3)

0, 1, 2, 3, (1,2), (2,3), (1,3)
=7
0, 1, 2, 3, (1,2), (2,3), (1,3)
0, 1, 2, 3, (1,2), (2,3), (1,3)
=49
math.pow(7,count_4)